.anchor-pane{
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 100%, #10151D, #1c2331);
}

.tab-pane {
  -fx-background-color: #dedede;
}


.tab {
  -fx-background-color: #606a7f;
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-background-radius: 3;
  -fx-padding: 3 10;
  -fx-border-radius: 3;
}

.tab:selected {
  -fx-background-color: #484f59;
}

.tab:hover {
  -fx-background-color: #4a525f;
}

.tab .tab-label {
  -fx-text-fill: #ffffff;
}

.tab .tab-label:selected {
  -fx-text-fill: #ffffff;
}

.tab .tab-label:hover {
  -fx-text-fill: #e0e0e0;
}


.label-title {
    -fx-font-size: 36px;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
    -fx-text-fill: linear-gradient(
        from 0% 0% to 100% 100%,
        #d7d7d7,
        #8e8e8e,
        #3a3a3a
    );
    -fx-font-family: "Segoe UI", sans-serif;
}
.table-view {
    -fx-background-color: #d0d0d0; /* Fondo más claro para la tabla */
    -fx-background-radius: 8;
}

.table-view .column-header {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: normal;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.table-view .table-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000000;
    -fx-font-size:14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-padding: 5;
}

.table-view .table-row-cell:filled {
    -fx-background-color: #969696;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #939393;
}

.table-view .table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #606a7f;
    -fx-text-fill: #ffffff;
}

.table-view .table-row-cell:hover {
    -fx-background-color: rgb(51, 61, 82);
    -fx-text-fill: #000000;
}

.buttonn {
    -fx-background-radius: 8;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
    -fx-text-fill: #ffffff;
}

.button-add {
    -fx-background-color: #4CAF50;
}

.button-add:hover {
    -fx-background-color: #45a049;
}

.button-add:pressed {
    -fx-background-color: #388e3c;
}

.button-delete {
    -fx-background-color: #f44336;
}

.button-delete:hover {
    -fx-background-color: #e53935;
}

.button-delete:pressed {
    -fx-background-color: #c62828;
}

.button-print {
    -fx-background-color: #2196F3;
}

.button-print:hover {
    -fx-background-color: #1e88e5;
}

.button-print:pressed {
    -fx-background-color: #1976d2;
}

.button-sell {
    -fx-background-color: #FF9800;
}

.button-sell:hover {
    -fx-background-color: #fb8c00;
}

.button-sell:pressed {
    -fx-background-color: #f57c00;
}

.button-pdf {
    -fx-background-color: #d32f2f;
}

.button-pdf:hover {
    -fx-background-color: #c62828;
}

.button-pdf:pressed {
    -fx-background-color: #b71c1c;
}

.button-excel {
    -fx-background-color: #388e3c;
}

.button-excel:hover {
    -fx-background-color: #2c6e2f;
}

.button-excel:pressed {
    -fx-background-color: #1b5e20;
}

.label-form {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #333333;
    -fx-padding: 0 0 5 0;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}


.text-field:focused {
    -fx-border-color: #606a7f;
    -fx-background-color: #f9f9f9;
}


.text-area {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.text-area:focused {
    -fx-border-color: #606a7f;
    -fx-background-color: #f9f9f9;
}


.label-total {
    -fx-font-size: 25px;
    -fx-font-weight: Bold;
    -fx-font-family: "Segoe UI", sans-serif;
}

.button-menu {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ffffff, #e0e0e0);
    -fx-background-radius: 8;
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
    -fx-cursor: hand;
}

.button-menu:hover {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #b0b0b0;
}

.button-menu:pressed {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #999999;
}

.button-logout {
    -fx-background-color: #e53935;
    -fx-background-radius: 8;
    -fx-padding: 3 10;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #ffffff;
    -fx-border-color: #d32f2f;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-cursor: hand;
}

.button-logout:hover {
    -fx-background-color: #c62828;
    -fx-border-color: #b71c1c;
}

.button-logout:pressed {
    -fx-background-color: #b71c1c;
    -fx-border-color: #a11a1a;
}

.label-user {
    -fx-font-size: 20px;
    -fx-font-weight: Mediun;
    -fx-text-alignment: center;
    -fx-text-fill: linear-gradient(
        from 0% 0% to 100% 100%,
        #d7d7d7,
        #8e8e8e,
        #d8d8d8
    );
    -fx-font-family: "Segoe UI", sans-serif;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-padding: 1;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.combo-box .list-cell {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: #333333;
}

.combo-box .list-cell:selected {
    -fx-text-fill: #000000;
}

.combo-box .list-cell:hover {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #000000;
}
